.join-business {
  background-color: $TEXT-COLOR;

  &__logo img {
    transition: transform 0.3s ease, filter 0.3s ease;

    display: block;

    &:hover {
      transform: scale(1.1);
      filter: grayscale(0%);
    }
  }
  &__wrapper {
    padding: 80px 0;

    h1 {
      font-size: 25px;
      font-weight: 200;
      line-height: 38px;
      letter-spacing: 0.699999988079071px;
      text-align: center;
      color: $TEXT-COLOR-WHITE;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
    cursor: pointer;
  }
}
