.pressplay {
  background-color: #d19faa;
  background-image: url(../../assets/images/pressplay-background-img\ mihon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 814px;
}
