body {
  font-family: "Roboto-Regular", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto-Regular", sans-serif;
}

li a,span  {
  font-family: "WorkSans-ExtraLight", sans-serif;
  font-weight: 900;
}

p {
  font-family: "WorkSans-ExtraLight", sans-serif;
}
